@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');


body {
  font-family: 'Ubuntu', sans-serif;

}


/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: #ffffff; 
  border-radius: 50px; 
}

::-webkit-scrollbar-thumb {
  background: #25314E; 

}


::-webkit-scrollbar-thumb:hover {
  background: #1A2436; 
}


/* Media query for mobile */
@media (max-width: 640px) {
  ::-webkit-scrollbar {
    width: 8px; /* Smaller width for mobile */
  }
}